
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!-- TODO: Retina stuff in header -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My EChef</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="shortcut icon" type="image/ico" href="favicon.png" />
        <link rel="shortcut icon" href="favicon.png"> 
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link href="public/assets/fonts/ss-social-circle.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="public/assets/fonts/ss-standard.min.css" rel="stylesheet" type="text/css" media="all"/>

        <link href="public/styles/style.min.css" rel="stylesheet" type="text/css" media="all"/>

        <link href="public/styles/jquery.qtip.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="public/styles/fractionslider.min.css" rel="stylesheet" type="text/css" media="all"/>


        <script type="text/javascript" src="//use.typekit.net/ong5fia.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>    


        <!-- Shims -->
        <!--[if lt IE 9]>
            <script src="public/scripts/html5shiv.min.js"></script>
            <script src="public/scripts/respond.min.js"></script>


        <!-- Web App -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">


    </head>

<body class="wrapper ">


            <div class="container">

	<div class="grid">


		<div class="grid__item one-half lap-one-third desk-one-fifth">

			
			<div class="logo-container">
				<h1 class="logo">
					<a href="">My EChef</a>
				</h1>
			</div>
			

		</div><!--

	 	--><div class="grid__item one-half lap-two-thirds desk-four-fifths">


			<div class="utility-nav-container">

				

				<ul class="nav  nav--block  menu">
					
					<li><a href="#">Your Saved Recipes</a></li><!--

					--><li><a href="#">Log Out</a></li>
				
				</ul>

				<p>Hello Kirsty</p>


			</div>


		</div>


	</div>

</div>

            
            <div class="nav-container">

	<div class="container">

		<a class="anchor-link" id="menu-btn" href="#mobile-nav">Menu</a>

		<!-- TODO: Classes on li will be added through WP -->
		<ul class="nav  nav--block  menu">
			
			<li class="purple"><a href="index.html">Home</a></li><!--

			--><li class="red"><a href="page.html">About</a></li><!--

			--><li class="yellow"><a href="recipes-archive.html">Recipes</a></li><!--

			--><li class="blue"><a href="page.html">Hygiene</a></li><!--

			--><li class="green"><a href="page.html">Contact</a></li>
		
		</ul>

	</div>

	
	<!-- TODO: background image as Options custom field -->
	<div class="features" style="background-image: url('../../public/assets/img/test-bg.jpg');">

		<div class="container pt">

			<div class="grid">

				<div class="grid__item palm-one-whole three-quarters">

					
					
					


				</div><!--

				--><div class="grid__item palm-one-whole one-quarter">

					<div class="featured-recipe">
						<h4>Featured Recipe</h4>
					</div>

				</div>

			</div>

		</div>

	</div>


</div>
        

            

<div class="container pt">

	<div class="grid">


		<div class="grid__item palm-one-whole lap-one-whole three-quarters">

			<h1>Standard Page Template</h1>
			
			<!-- While loop would start here -->

			<h2>A Heading 2</h2>

			<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>

			<h3>A Heading 3</h3>

			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis.</p>

			<h4>A Heading 4</h4>

			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis.</p>

			<h5>A Heading 5</h5>

			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis.</p>

			<h6>A Heading 6</h6>

			<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Sed posuere consectetur est at lobortis.</p>


		</div><!--

		--><div class="grid__item palm-one-whole lap-one-whole one-quarter">
			<!-- The sidebar main -->

			
		
			<!-- TODO: This is sidebar.php -->
			<div class="sidebar">

	<h1>Sidebar</h1>


</div>

		</div>


	</div> <!-- // Grid -->

</div>


            

	<div class="share">
	
	<div class="container">

	</div>	

</div>


<div class="footer-nav">

	<div class="container">

		<nav id="mobile-nav">
	
			<ul>
				
				<li class="purple"><a href="index.html">Home</a></li><!--
				--><li class="red"><a href="page.html">About</a></li><!--
				--><li class="yellow"><a href="recipes-archive.html">Recipes</a></li><!--
				--><li class="blue"><a href="page.html">Hygiene</a></li><!--
				--><li class="green"><a href="page.html">Contact</a></li>
			
			</ul>
	        
		</nav>

		<!-- TODO: Classes on li will be added through WP -->
		<ul class="nav  nav--block  menu">
			
			<li class="purple"><a href="index.html">Home</a></li><!--

			--><li class="red"><a href="page.html">Our Ethos</a></li><!--

			--><li class="yellow"><a href="page.html">Privacy</a></li><!--

			--><li class="blue"><a href="page.html">Want to Join?</a></li>
		
		</ul>

	</div>	

<div class="seperator"></div>
</div>



<div class="credits">

	<div class="container">
					
			<p class="alignleft"><a href="http://www.kirstyburgoine.co.uk" title="Link to Kirsty Burgoine's website">Website by Kirsty Burgoine Ltd.</a></p>
			<p class="alignright">© 2014 ~ My EChef. Registered in England & Wales. Company No:000000</p>

		<div class="seperator"></div>

	</div>	

</div>

</body>


<a href="#" class="scrollup"><i class="ss-icon">navigateup</i></a>  

<!-- ========================== jQuery Libraries ========================== -->
        <!-- TODO: Remember to change this in theme functions to queue -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
        <script src="public/scripts/modernizr.min.js"></script>
        <script src="public/scripts/jquery.fractionslider.min.js"></script>
        <script src="public/scripts/scrollTo.min.js"></script>
        <script src="public/scripts/jquery.fitvids.min.js"></script>
        <script src="public/scripts/jquery.qtip.min.js"></script>
        <script src="public/scripts/custom.min.js"></script>
<!-- ========================== jQuery Libraries ========================== -->



</html>