
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!-- TODO: Retina stuff in header -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My EChef</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="shortcut icon" type="image/ico" href="favicon.png" />
        <link rel="shortcut icon" href="favicon.png"> 
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link href="public/assets/fonts/ss-social-circle.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="public/assets/fonts/ss-standard.min.css" rel="stylesheet" type="text/css" media="all"/>

        <link href="public/styles/style.min.css" rel="stylesheet" type="text/css" media="all"/>

        <link href="public/styles/jquery.qtip.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="public/styles/fractionslider.min.css" rel="stylesheet" type="text/css" media="all"/>


        <script type="text/javascript" src="//use.typekit.net/ong5fia.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>    


        <!-- Shims -->
        <!--[if lt IE 9]>
            <script src="public/scripts/html5shiv.min.js"></script>
            <script src="public/scripts/respond.min.js"></script>


        <!-- Web App -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">


    </head>

<body class="wrapper ">


            <div class="container">

	<div class="grid">


		<div class="grid__item one-half lap-one-third desk-one-fifth">

			
			<div class="logo-container">
				<h1 class="logo">
					<a href="">My EChef</a>
				</h1>
			</div>
			

		</div><!--

	 	--><div class="grid__item one-half lap-two-thirds desk-four-fifths">


			<div class="utility-nav-container">

				

				<ul class="nav  nav--block  menu">
					
					<li><a href="#">Your Saved Recipes</a></li><!--

					--><li><a href="#">Log Out</a></li>
				
				</ul>

				<p>Hello Kirsty</p>


			</div>


		</div>


	</div>

</div>

            
            <div class="nav-container">

	<div class="container">

		<a class="anchor-link" id="menu-btn" href="#mobile-nav">Menu</a>

		<!-- TODO: Classes on li will be added through WP -->
		<ul class="nav  nav--block  menu">
			
			<li class="purple"><a href="index.html">Home</a></li><!--

			--><li class="red"><a href="page.html">About</a></li><!--

			--><li class="yellow"><a href="recipes-archive.html">Recipes</a></li><!--

			--><li class="blue"><a href="page.html">Hygiene</a></li><!--

			--><li class="green"><a href="page.html">Contact</a></li>
		
		</ul>

	</div>

	
	<!-- TODO: background image as Options custom field -->
	<div class="features" style="background-image: url('../../public/assets/img/test-bg.jpg');">

		<div class="container pt">

			<div class="grid">

				<div class="grid__item palm-one-whole three-quarters">

					
					
					

					<h1>Recipes Index</h1>
					<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus porttitor.</p>

					


				</div><!--

				--><div class="grid__item palm-one-whole one-quarter">

					<div class="featured-recipe">
						<h4>Featured Recipe</h4>
					</div>

				</div>

			</div>

		</div>

	</div>


</div>
        

            

<div class="container pt">

	<div class="grid">


		<div class="grid__item palm-one-whole lap-one-whole three-quarters">

		<article class="type-recipe post">

			<div class="utility">
				<img src="public/assets/img/uk-flag.png" alt="" class="aligncenter" />
				<ul class="utility-icons">
					<li><a href="" class="ss-icon" title="Print this page">Print</a></li>
					<li><a href="" class="ss-icon" title="Save this recipe for later">Favorite</a></li>
				</ul>
			</div>

			<img src="public/assets/img/minestrone.jpg" alt="" class="img--left" />

			<header class="recipe-title">
				<h1>Individual Recipe Title</h1>
			</header>			

			<p>A light starter perfect for summer, would be an ideal first course for Rabbit dishes</p>

			<!-- Rating BG Positions:
			0 Stars: -13px -16px
			1 Star: -13px -53px
			2 Stars: -13px -91px
			3 Stars: -13px -128px
			4 Stars: -13px -165px
			5 Stars: -13px -201px
			-->

			<ul class="recipe-meta">
				<!-- Custom field - one to five option show eggs instead of numbers. Background position based on rating -->
				<li><strong>Skill:</strong> <span class="rating" style="background-position: -13px -128px">3 Eggs</span></li> 
				<li><strong>Preparation Time:</strong> 30 minutes</li> <!-- Custom field - text field -->
				<li><strong>Cooking Time:</strong> 1 hour 45 minutes</li> <!-- Custom field - text field -->
			</ul>

			<hr>

			<h2>Ingredients</h2>

			<!-- This is the main calculator bit -->
			<form action="" class="cost-calculator">
			
			<table class="calculator">
				<tr>
					<th class="ingredient">Per Single Serving</th>
					<th class="quantity">Quantity</th>
					<th class="cost">Per Single Serving</th>
				</tr>

				<tr>
					<td>
						<select name="ingredient variations">
							<option value="">Option 1 - Free Range Chicken</option>
							<option value="">Option 2 - Bert & Ernie's Chicken</option>
							<option value="">Option 3 - Battery Farm Chicken</option>
						</select>
					</td>
					<td>500g</td>
					<td>£300.00</td>
				</tr>

				<tr>
					<td>An ingredient with no options</td>
					<td>1kg</td>
					<td>£0.99</td>
				</tr>

				<tr>
					<td>
						<select name="ingredient variations">
							<option value="">Baked Beans - Heinz</option>
							<option value="">Baked Beans - Aldi's Own</option>
							<option value="">Baked Beans - Gourmet Range - Who Knew??</option>
						</select>
					</td>
					<td>300ml</td>
					<td>£2.50</td>
				</tr>

				<tr>
					<td colspan="2">Free text custom field for seasoning i.e. pinch of salt / season to taste</td>
					
					<td></td>
				</tr>

			</table>

			<div class="grid">

				<div class="grid__item palm-one-whole two-fifths">

					<p class="split">
					   <span class="split__title">Need a cost for bulk quantities?<br>
					   Bulk Servings: </span>

						<span><input type="text" name="serving-quamtity" class="small-input"></span>
					</p>


				</div><!--

				--><div class="grid__item palm-one-whole three-fifths">

					<table class="calculations">



						<tr>
							<th class="labels">Cost Per Portion</th>
							<td class="inputs">35</td>
							<td class="calculations">£3.50</td>
						</tr>

						

						<tr>
							<th>Gross Profit Required</th>
							<td><input type="text" name="profit-amount" class="small-input" value="65"></td>
							<td>£6.50</td>
						</tr>

						<tr>
							<th>Total Estimated Selling Price</th>
							<td>100</td>
							<td>£10.00</td>
						</tr>


					</table>


				</div><!-- closes one-half -->

			</div><!-- closes grid -->

			</form>			

			<!-- TODO: This needs to be confirmed so can be ignorred for now -->
			<h4>Nutrional Information</h4>

			<table class="nutrition">

						<tr>
								<th class="purple">Something</th>
								<th class="red">Something</th>
								<th class="yellow">Something</th>
								<th class="blue">Something</th>
								<th class="green">Something</th>
						</tr>

						<tr>
								<td class="purple">TBC</td>
								<td class="red">TBC</td>
								<td class="yellow">TBC</td>
								<td class="blue">TBC</td>
								<td class="green">TBC</td>
						</tr>

			</table>


					<hr>

					<h4>Equipment Needed</h4>

					<p>Custom field needed for this. 3 Saucepans, 2 colendars, some stuff, some more stuff and maybe a blender...</p>

			<hr>

			<h2>Method</h2>

			<div class="entry-content">

				<p>Everything in .entry-content is the_content(). Completely free area to describe the method and add video, images etc.</p>

				<p>Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

				<ol>
					<li>Saute <a href="" title="Seperate recipe for meatballs">meatballs</a> in a hot pan untill brown and sealed all the way round</li>
					<li>Add in the <a href="" title="Seperate recipe for marinara sauce">marinara sauce</a> and the vegetable stock reduce untill cooked through</li>
					<li>Blanch the cooked pasta in the blanching pan in the pasta basket </li>
					<li>Drain in the basket over the blanch pan and add to the meatball sauce</li>
					<li>Continue cooking on a medium flame </li>
					<li>Char grill <a href="" title="Seperate recipe for garlic ciabatta">garlic ciabatta</a> for 1min on either side then 3mins in th oven 180oc</li>
					<li>Place the contents of the pasta in the pasta bowl arrangeing the meatballs on top</li>
					<li>Cut the garlic bread in half on a diagonal angle and arrange as per photo</li>
					<li>Drizzle <a href="" title="Seperate recipe for Pesto">pesto</a> around the dish as per photo and serve</li>
				</ol>

				<p><strong>Notes: </strong>you can start cooking your garlic bread simultaniously during stage 4 and it should all be ready at the same time</p>

				<p><iframe width="420" height="315" src="//www.youtube.com/embed/0Bmhjf0rKe8" frameborder="0" allowfullscreen></iframe></p>

				

			</div>



			<footer class="additional pt">

				<hr>

				<h3>More Starters</h3>

				<!-- TODO: Set up more recipes for footer -->
				<p>This area will pull 3 recipes from the same category as the one being viewed. In a later phase these will change to complimentary dishes based on menus created</p>
			
			</footer>
				
		</article>

		</div><!--

		--><div class="grid__item palm-one-whole lap-one-whole one-quarter">
			<!-- The sidebar main -->			
		
			<!-- TODO: This is sidebar.php -->
			<div class="sidebar">

	<h1>Sidebar</h1>


</div>

		</div>


	</div> <!-- // Grid -->

</div>


            

	<div class="share">
	
	<div class="container">

	</div>	

</div>


<div class="footer-nav">

	<div class="container">

		<nav id="mobile-nav">
	
			<ul>
				
				<li class="purple"><a href="index.html">Home</a></li><!--
				--><li class="red"><a href="page.html">About</a></li><!--
				--><li class="yellow"><a href="recipes-archive.html">Recipes</a></li><!--
				--><li class="blue"><a href="page.html">Hygiene</a></li><!--
				--><li class="green"><a href="page.html">Contact</a></li>
			
			</ul>
	        
		</nav>

		<!-- TODO: Classes on li will be added through WP -->
		<ul class="nav  nav--block  menu">
			
			<li class="purple"><a href="index.html">Home</a></li><!--

			--><li class="red"><a href="page.html">Our Ethos</a></li><!--

			--><li class="yellow"><a href="page.html">Privacy</a></li><!--

			--><li class="blue"><a href="page.html">Want to Join?</a></li>
		
		</ul>

	</div>	

<div class="seperator"></div>
</div>



<div class="credits">

	<div class="container">
					
			<p class="alignleft"><a href="http://www.kirstyburgoine.co.uk" title="Link to Kirsty Burgoine's website">Website by Kirsty Burgoine Ltd.</a></p>
			<p class="alignright">© 2014 ~ My EChef. Registered in England & Wales. Company No:000000</p>

		<div class="seperator"></div>

	</div>	

</div>

</body>


<a href="#" class="scrollup"><i class="ss-icon">navigateup</i></a>  

<!-- ========================== jQuery Libraries ========================== -->
        <!-- TODO: Remember to change this in theme functions to queue -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    
        <script src="public/scripts/modernizr.min.js"></script>
        <script src="public/scripts/jquery.fractionslider.min.js"></script>
        <script src="public/scripts/scrollTo.min.js"></script>
        <script src="public/scripts/jquery.fitvids.min.js"></script>
        <script src="public/scripts/jquery.qtip.min.js"></script>
        <script src="public/scripts/custom.min.js"></script>
<!-- ========================== jQuery Libraries ========================== -->



</html>