body:before { 
                            white-space: pre; 
                            font-family: monospace; 
                            content: 'Sass #<Errno::ENOENT: No such file or directory - \\Users\\kirstyburgoine\\Sites\\My Executive Chef\\templates\\public\\styles\\inuit\\your-project.scss> \A '; } 
                            
                            body * { 
                            display: none; 
                            } 